$rgba-primary-0: rgba( 45, 68,113,1);	// Main Primary color */
$rgba-primary-1: rgba(119,136,170,1); // lightest
$rgba-primary-2: rgba( 78, 99,142,1); // lighter
$rgba-primary-3: rgba( 21, 43, 85,1); // darker
$rgba-primary-4: rgba(  6, 23, 57,1); // darkest

// fonts
$lobster: 'Lobster', cursive;
$poppins: 'Poppins', sans-serif;


// navbar
.style--navbar {
	background-color: $rgba-primary-1;
	height: 15vh;
	a {
		font-family: $lobster;
		font-size: 2rem;
		color: white;
	}
}

.side-nav {
	a {
		font-family: $poppins;
		color: black;
	}
}

// splash
footer {
	height: 15vh;
	background-color: $rgba-primary-4;
}
.canyon {
	background-image: url('../images/canyons.jpg');
	border: 1px solid black;
	background-size: cover;
	height: 85vh;
	font-family: $lobster;
	h1 {
		margin: 2rem;
	}
}
.tech {
	background-color: $rgba-primary-3;
	height: 100%;
	padding-bottom: 3rem;
	.holder {
		margin-top: 3rem;
		width: 200px;
		height: 120px;
		padding: 10px;
		img {
			display: block;
			margin: 0 auto;
			width: auto;
			height: 100%;
		}
	}
}

// about
.about {
	// max-width: 600px;
	margin: 1rem auto; 
	text-align: center;
	img {
		display: block;
		width: 20rem;
		margin: 1rem auto;
	}
	h1 {
		font-family: $lobster;
	}
	.row {
		margin: 0 auto;
		max-width: 90vw;
		h2 {
			font-family: $lobster;
		}
		p {
			font-family: $poppins;
		}
	}
}
